stages:
  - build
  - dockerize
  - deploy

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode --errors --fail-at-end"
  DOCKER_DRIVER: overlay2

before_script:
  - echo "Using Java 17"

build:
  stage: build
  image: maven:3.8.6-openjdk-17
  script:
    - mvn $MAVEN_CLI_OPTS clean package -DskipTests
  artifacts:
    paths:
      - target/football.jar

dockerize:
  stage: dockerize
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t manal-docker/football:latest .
    - docker push manal-docker/football:latest

deploy:
  stage: deploy
  script:
    - echo "Deploy step (à personnaliser selon ton environnement)"
